.embedContainer {
  position: sticky;
  /*padding-bottom: 67%; 
    height:inherit;
    max-width: 100%;
    z-index: 0;
    pointer-events: auto;
    height: auto; */
  margin-top: -100px;
}

.chartMinWidth {
  /* width: 90%; */
  min-width: 300px;
  display: block;
}

.bright {
  color: #FFFFFF;
}

.highlight {
  color: #C22F27;
}

.secondary {
  color: #d8c5b2;
  ;
}

.fullWidthBorder {
  height: 45px;
  background-color: black;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  z-index: -1;
}

.withBorder {
  height: 48px;
  border-right: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.withBorder2 {
  /* height:48px; */
  border: 1px solid white;
}

.table2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: 100;
  /* min-width: 500px; */
}

.table1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  /* min-width: 500px; */
}

.valign {
  vertical-align: bottom;
}

.foot {
  bottom: 0;
  background-color: #000000;
  border-top: solid 1px #eee;
  /* -webkit-overflow-scrolling: touch; */
}

.containerSection {
  margin-top: 60vh;
  margin-bottom: 40vh;
  margin-right: 0;
  margin-left: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  scrollbar-width: none;
}

.backdrop {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 6rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8043418050814075) 10%, rgba(0, 0, 0, 0.798739564185049) 80%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 0;
  margin-right: 0;
  margin-left: auto;
  border-left-width: 2px;
  border-left-style: solid #fff;
  border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  scrollbar-width: none;
}

.containerSection::-webkit-scrollbar {
  display: none;
}

.cyberspaceSection {
  margin-top: 10vh;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  scrollbar-width: none;
  /* border-top: solid 3px #eee; */
  /* background: linear-gradient(0deg,  rgba(0, 0, 0, 1) 80%,  rgba(0, 0, 0, 0) 100%); */
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mainContent {
  padding-top: 12vh;
  background-color: transparent;
  padding-bottom: 0;
  scrollbar-width: none;
}