@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

/* apply a natural box layout model to all elements */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "Handjet", sans-serif;
}

@font-face {
    font-family: "PPSupplySans-Regular";
    src: url("/assets/fonts/PPSupplySans-Regular.otf");
}

@font-face {
    font-family: "PPSupplySans-Ultralight";
    src: url("/assets/fonts/PPSupplySans-Ultralight.otf");
}

@font-face {
    font-family: "Anonymous Pro", sans-serif;
    src: url("/assets/fonts/AnonymousPro-Regular.ttf");
}

.handjet {
    font-family: "Handjet";
}

.about-page p {
    font-family: "PPSupplySans-Ultralight";
    /* font-family: "Anonymous Pro"; */
    font-size: 1.3rem;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    line-height: 1.75rem;
}

.typewrite {
    width: 70vw;
    line-height: 3.5rem;
    display: block;
    color: #dedede;
    /* border-right: 0.08em solid #fff */
}

header {
    font-family: "PPSupplySans-Regular";
    font-size: 1.2rem;
}

.text-2xl {
    font-family: "PPSupplySans-Regular";
    font-size: 1.35rem;
}

.text-xl {
    font-family: "PPSupplySans-Regular";
    font-size: 1.05rem;
}

:root {
    --button-box-shadow:
        inset -1px -1px 0px 0px #777,
        inset -2px -2px 0px 0px #aaa,
        inset 1px 1px 0px 0px #ddd,
        inset 2px 2px 0px 0px #fff;
    --button-hover-bezel:
        0 0 0 1px #aaa,
        0 0 0 2px #ddd,
        0 0 0 3px #000;
}

.header-backdrop {
    background-color: #000;
    /* background-image: url("/patterns/988.png"); */
    /* background-repeat: repeat; */
}

.redbar {
    background-color: #B33C30;
}

/* .red-box {
    display: block;
    position: fixed;
    z-index: 0;
    width: 99vw;
    background-color: #B33C30;
    height: calc(95.8vh - 4px);
    margin-left: 0.5vw;
    border: 8px solid #B33C30; */
/* border-bottom: 20px solid #B33C30; */
/* border-radius: 0.5rem; */
/* box-shadow: inset 0 4px 4px 0 #B33C30,
        inset -4px 0 4px 0 #B33C30,
        inset 0 -4px 4px 0 #B33C30,
        inset 4px 0 4px 0 #B33C30; */
/* } */

p {
    margin-bottom: 1rem;
}

.foot {
    border-top: solid 1px #eee;
    /* -webkit-overflow-scrolling: touch; */
}


.withBorder2 {
    /* height:48px; */
    border: 1px solid white;
}

.table2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: 100;
    /* min-width: 500px; */
}

.table1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    /* min-width: 500px; */
}

.valign {
    vertical-align: bottom;
}

.inner-backdrop {
    z-index: 0;
    overflow: hidden;
    position: fixed;
    width: 99.8vw;
    height: 95vh;
    bottom: 0;
    top: auto;
    /* background-color: #000000;
    opacity: 0.4;
    background-image: linear-gradient(#8c6754 2px, transparent 2px), linear-gradient(90deg, #8c6754 2px, transparent 2px), linear-gradient(#8c6754 1px, transparent 1px), linear-gradient(90deg, #8c6754 1px, #000000 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */

    background-color: #000000;
    opacity: 0.8;
    background-image: linear-gradient(#3a3a3a 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(90deg, #3a3a3a 1.2000000000000002px, transparent 1.2000000000000002px), linear-gradient(#3a3a3a 0.6000000000000001px, transparent 0.6000000000000001px), linear-gradient(90deg, #3a3a3a 0.6000000000000001px, #000000 0.6000000000000001px);
    background-size: 30px 30px, 30px 30px, 6px 6px, 6px 6px;
    background-position: -1.2000000000000002px -1.2000000000000002px, -1.2000000000000002px -1.2000000000000002px, -0.6000000000000001px -0.6000000000000001px, -0.6000000000000001px -0.6000000000000001px;
}

html,
body {
    -moz-user-select: none;
    -webkit-user-select: none;
    margin: 0;
    background-color: #000;
    font-family: 'PPSupplySans-Regular', 'Times New Roman', 'Georgia', serif;
    vertical-align: middle;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.0rem;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

a {
    color: #000;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.container {
    width: 98vw;
    margin: auto;
}

.footage-1 {
    width: auto;
    height: 95vh;
    z-index: 0;
    background-color: #00000044;
    backdrop-filter: blur(2px);
    mask: linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 90%,
            rgba(0, 0, 0, 0) 100%);
}

.footage-2 {
    /* width: 65vw; */
    margin-left: -3vw;
    margin-right: 40px;
    width: calc(75vw - 50px);
    transition-duration: 2s;
}

.activeCells {
    cursor: pointer;
}

/* Window layout */
.content {
    position: relative;
    z-index: 800;
    font-weight: normal;
    display: block;
    margin-left: 1vw;
    align-items: center;
    justify-items: center;
    border: 1px solid #111;
    background: #cccccc99;
    box-shadow:
        1px 2px #111,
        inset 1px 1px 0px 0px #fff,
        inset -1px -1px 0px 0px #999;
}


.inner {
    margin: 2px 4px 4px 4px;
    border: 1px solid #111;
    background-color: #141414;
    box-shadow:
        -1px -1px 0px 0px #999,
        1px 1px 0px 0px #fff,
        inset 1px 1px 0px 0px #fff,
        inset -1px -1px 0px 0px #999;
    height: 75vh;
    color: #dedede;
}

.cloudCatalog .inner {
    background-color: #000;
}

.cloud-page .inner {
    height: 80vh;
}

.about-page .inner {
    height: 80vh;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: inherit;
    padding: 5px 0;
    background-size: 3px 2px;
    margin-bottom: 0;
    margin-top: 3px;
    color: #000;
}

.icon {
    text-align: center;
    margin: 1em 0;
}

ul {
    list-style-type: none;
    margin: 2px 0 1.5em 0;
    padding: 0 0 0 2em;
    font-size: inherit;
}

.footer {
    width: 400px;
    text-align: center;
    margin: 2em auto 0;
}

.control-box {
    position: absolute;
    top: 3px;
    padding: 1px;
    background-color: #222;
    box-shadow:
        inset -1px -1px 0px 0px #fff,
        inset 1px 1px 0px 0px #888;
}

.close-box.control-box {
    left: 4px;
}

.control-box-inner {
    display: block;
    height: 28px;
    width: 28px;
    background-image:
        linear-gradient(to bottom right, #999, #aaa, #bbb, #ccc, #ddd, #eee, #fff);
    border: 1px solid #222;
    box-shadow:
        inset 1px 1px 0px 0px #ccc,
        inset -1px -1px 0px 0px #888;
    text-indent: -99999em;
}

.control-box-inner:active {
    box-shadow: none;
}

.zoom-box.control-box {
    right: 4vmin;
}

.zoom-box-inner {
    height: 1.5vmin;
    width: 1.6vmin;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.windowshade-box.control-box {
    right: 4px;
}

.windowshade-box-inner {
    margin-top: 3px;
    height: 0.7vmin;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.command_button {
    width: 15vw;
    transition: all 0.3s ease;
    background-image: url('/assets/img/tab.svg');
    background-repeat: no-repeat;
    background-position: right top;
    color: #dedede;
    display: inline-block;
    /* margin-bottom: 7px; */
    /* margin-left: 14px; */
    /* border-radius: 3px; */
    /* border: 1px solid #000; */
    /* box-shadow: var(--button-box-shadow); */
}

.tab1 {
    margin-left: -1vw;
    z-index: 13;
}

.tab2 {
    z-index: 12;
    margin-left: 11.5vw;
}

.tab3 {
    z-index: 11;
    margin-left: 24vw;
}

.tab4 {
    z-index: 10;
    margin-left: 36.5vw;
}

.command_button div {
    margin-left: -1.5vw;
}

.command_button_unclickable {
    height: 50px;
    width: 51.5vw;
    background-image: url('/assets/img/toxicityTab.svg');
    background-repeat: no-repeat;
    background-position: left top;
    color: #dedede;
}

.command_button:hover {
    transition: 0.2s ease;
    transform: translateY(-6px);
    /* background-color: #4d4d4d; */
}

.command_button:active {
    color: #dedede;
}

.tabIsActive {
    z-index: 40;
    background-image: url('/assets/img/tabActive.svg');
    transition: 0.2s ease;
    transform: translateY(-6px);
}

/* Hide only visually, but have it available for screenreaders & for SEO purposes. See h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

iframe {
    overscroll-behavior: none;
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
    position: fixed;

    /* For Firefox */
    scrollbar-gutter: stable;

    /* For Chrome/Safari */
    -webkit-overscroll-behavior: none;

    /* For MS Edge */
    -ms-scroll-chaining: none;
    -webkit-overflow-scrolling: touch;
    /* For smooth scrolling on iOS */
}

h1,
h2 {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
}

.no-select {
    user-select: none;
}

.selectable {
    user-select: text;
}

h2 {
    font-size: 2.75rem;
    line-height: 1;
}

.toxicity-counter {
    width: 70%;
    font-weight: 400;
    justify-items: center;
    display: block;
}

.headerData {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: normal;
    color: #EAE1DF;
}

main {
    position: relative;
    margin-top: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #000;
}

:root {
    overscroll-behavior: none;
    --syntax_normal: #1b1e23;
    --syntax_comment: #a9b0bc;
    --syntax_number: #20a5ba;
    --syntax_keyword: #c30771;
    --syntax_atom: #10a778;
    --syntax_string: #008ec4;
    --syntax_error: #ffbedc;
    --syntax_unknown_variable: #838383;
    --syntax_known_variable: #005f87;
    --syntax_matchbracket: #20bbfc;
    --syntax_key: #6636b4;
    --mono_fonts: 82%/1.5 Menlo, Consolas, monospace
}

.observablehq--collapsed,
.observablehq--expanded,
.observablehq--function,
.observablehq--gray,
.observablehq--import,
.observablehq--string:after,
.observablehq--string:before {
    color: var(--syntax_normal)
}

.observablehq--collapsed,
.observablehq--inspect a {
    cursor: pointer
}

.observablehq--field {
    text-indent: -1em;
    margin-left: 1em
}

.observablehq--empty {
    color: var(--syntax_comment)
}

.observablehq--blue,
.observablehq--keyword {
    color: #3182bd
}

.observablehq--forbidden,
.observablehq--pink {
    color: #e377c2
}

.observablehq--orange {
    color: #e6550d
}

.observablehq--boolean,
.observablehq--null,
.observablehq--undefined {
    color: var(--syntax_atom)
}

.observablehq--bigint,
.observablehq--date,
.observablehq--green,
.observablehq--number,
.observablehq--regexp,
.observablehq--symbol {
    color: var(--syntax_number)
}

.observablehq--index,
.observablehq--key {
    color: var(--syntax_key)
}

.observablehq--prototype-key {
    color: #aaa
}

.observablehq--empty {
    font-style: oblique
}

.observablehq--purple,
.observablehq--string {
    color: var(--syntax_string)
}

.observablehq--error,
.observablehq--red {
    color: #e7040f
}

.observablehq--inspect {
    font: var(--mono_fonts);
    overflow-x: auto;
    display: block;
    white-space: pre
}

.observablehq--error .observablehq--inspect {
    word-break: break-all;
    white-space: pre-wrap
}

/* Animation to let header data table (toxicity counter, etc) slide in + fade*/

@keyframes fadeSlideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeSlideIn {
    animation: fadeSlideIn 0.5s ease-in-out;
}

/* Animation for the map to fade in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.7s ease-in-out;
}

.draggable-container {
    transition: all 0.3s ease-in-out;
}